  <footer class="footer mt-auto py-3 bg-dark sticky-footer d-flex">
        <table class="table table-dark table-borderless table-sm mt-3 mb-0">
        <thead>
          <tr>
            <th></th>
            <th class="p-1" scope="col">Matin</th>
            <th class="p-1" scope="col">Après-midi</th>        
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="p-0" scope="row">Lundi</th>
            <td class="p-0">09:00 - 12:00</td>
            <td class="p-0">14:00 - 18:00</td>
          </tr>
          <tr>
            <th class="p-0" scope="row">Mardi</th>
            <td data-format="hh:mm" class="p-0"></td>
            <td class="p-0">14:00 - 18:00</td>
          </tr>
          <tr>
            <th class="p-0" scope="row">Mercredi</th>
            <td class="p-0">09:00 - 12:00</td>
            <td class="p-0">14:00 - 18:00</td>
          </tr>
          <tr>
            <th class="p-0" scope="row">Jeudi</th>
            <td class="p-0">09:00 - 12:00</td>
            <td class="p-0">14:00 - 18:00</td>
          </tr>
          <tr>
            <th class="p-0" scope="row">Vendredi</th>
            <td class="p-0">09:00 - 12:00</td>
            <td class="p-0">14:00 - 18:00</td>
          </tr>


        </tbody>

      </table>
        
        <div class="container-fluid text-center">
        
            <span class="text-muted">Place sticky footer content here.</span>
        </div>

    </footer>