{% block head %}
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../public/css/styles.css">
    {% block javascripts %}
        <script src="{{('daytimeShow.js') }}"></script>

    {% endblock %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script>

function datetimeShow()
{
    
    let daytime = new Date().toLocaleString('fr-FR', {
        weekday:'long',
        day:'numeric',
        month:'long',
        year:'numeric',
        hour:'numeric',
        minute:'numeric',
        second:'numeric',
    });

    document.getElementById('daytime').innerHTML = daytime;
    //document.write(daytime);
    setTimeout('datetimeShow()',1000);

}
    </script>

{% endblock head %}