body{
    font-family: 'Mina',sans-serif;
    font-size: 1.05rem;
    background-color: #6B8490;
}

.navbar-color, .footer-color-bg, .navbar-brand{
    background-color: #252930;
    color: #E3E6E0;
    font-size:1.2rem;
}
.text-color{
    font-size:1rem;
}
.text-color-a{
    color: #E3E6E0;
}
.text-color-a:link{
    color: #6B8490;
}
.text-color-a:hover{
    color: #6B8490;
}
.text-color-a:active{
    color:#6B8490;
}

.servicing{

    background-color: #E3E6E0;
}
.announce-add{

    background-color: #E3E6E0;
}

.opinions{

    background-color: #252930;
    color: #E3E6E0;
}


.cluf{
    font-size: 1rem;
}

table tr td, table tr th{
    background-color: #252930;
}

.formulaire{
    font-size: 1.25rem;
}

.card-users{
    width:24rem;
}
.card-announces{
    width: 24rem;
}

.card-opinions{
    width:16rem;
}