<!doctype html>
<html lang="en" class="h-100">

    <head>
        {% include 'components/head.twig' %}
    </head>

    <body class="d-flex flex-column h-100" onload="datetimeShow()" >
        {#header#}
       {% include 'components/header.twig' %}
        {# main #}
        <main class="mt-3">
            <div class="container">
            {% block main %}
                <div style="width:60rem;">
                    {% block servicing %}
                    <div class="" >
                    </div>
                    {% endblock %}
                </div> 
            {% endblock main %}
            </div>
        </main>
        {#footer#}
        {% include 'components/footer.twig' %}

    </body>
</html>